<p id="notice"><%= notice %></p>

<h1>Lps</h1>
<br/>
<div class="row">
  <div class="col-sm-2">
    Filter by Artist:
  </div>
  <div class="col-sm-2">
    <%= select_tag :artist_id, options_for_select(@artists.all.map{|s|[s.name, s.id]}, params[:artist_id]), {:class => "form-control"} %>
  </div>
</div>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Artist</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @lps.each do |lp| %>
      <tr>
        <td><%= lp.name %></td>
        <td><%= lp.description %></td>
        <td><%= lp.artist.name %></td>
        <td><%= link_to 'Show', lp %></td>
        <td><%= link_to 'Edit', edit_lp_path(lp) %></td>
        <td><%= link_to 'Destroy', lp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-sm-1">
    <%= button_to("New Lp", new_lp_path, method: :get, :class => "btn btn-warning") %>
  </div>
</div>

