<!DOCTYPE html>
<html>
  <head>
    <title>Musicalrecords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Musical Records</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if controller.controller_name == 'artists' %>"><%= link_to 'Artists', artists_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'l_ps' %>"><%= link_to 'Lps', lps_path %></li>
          </ul>
        </div>
      </nav>
      <%= yield %>

    </div>


  </body>
</html>
